<h4 class="custom-modal-title">رد پای کاربر به تفکیک فورم</h4>
<div class="custom-modal-text" style="width: 600px">
    <ul class="list-unstyled" style="text-align: right;">
        <li class="text-primary">
            ورود به سیستم در تاریخ 97/08/10 در ساعت 17:00
        </li>
        <li class="text-primary">
            فورم پروژه ها
            <ul>
                <li class="text-danger">
                    ویرایش ساعت پروژه خوزستان
                </li>
            </ul>
        </li> 
        <li class="text-primary">
            خروج از سیستم در ساعت 17:20
        </li>
    </ul>
</div>