USE [MeteorologyDB]
GO


/****** Object:  Table [dbo].[LastData]    Script Date: 5/29/2019 12:48:48 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[LastData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Port] [int] NULL,
	[Bytes] [int] NULL,
	[Type] [int] NULL,
	[SerialNO] [nchar](100) NULL,
	[StationName] [nvarchar](500) NULL,
	[DatetimeEn] [datetime] NULL,
	[DatetimeFa] [nchar](19) NULL,
	[DataPacket] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE VIEW[dbo].[SensorData] AS
                       SELECT          CASE WHEN dbo.SensorDateTime.Data > dbo.SensorSetting.[SensorMax] OR dbo.SensorDateTime.Data < dbo.SensorSetting.[SensorMin] 
											THEN CONVERT(varchar(MAX), dbo.SensorDateTime.Data)+' false@'+CONVERT(varchar(MAX),dbo.SensorSetting.SensorDigit) 
											ELSE CONVERT(varchar(MAX), dbo.SensorDateTime.Data)+' true@'+CONVERT(varchar(MAX),dbo.SensorSetting.SensorDigit) 
											END as Data,
									   dbo.SensorDateTime.[DateTime], dbo.SensorType.FaName +' ( '+dbo.Unit.FaName+' ) ' as FaName, dbo.SensorSetting.StationId 
                       FROM            dbo.SensorDateTime INNER JOIN
                                       dbo.SensorSetting ON dbo.SensorDateTime.SensorSettingId = dbo.SensorSetting.Id INNER JOIN
									   dbo.Unit ON dbo.SensorSetting.UnitId = dbo.Unit.Id INNER JOIN
                                       dbo.SensorType ON dbo.SensorSetting.SensorTypeId = dbo.SensorType.Id



GO
/****** Object:  View [dbo].[SensorDataEXPORT]    Script Date: 3/2/2019 9:42:27 AM ******/

CREATE VIEW[dbo].[SensorDataEXPORT] AS
                       SELECT          dbo.SensorDateTime.Data,
									   dbo.SensorDateTime.[DateTime], dbo.SensorType.FaName +' ( '+dbo.Unit.FaName+' ) ' as FaName, dbo.SensorSetting.StationId 
                       FROM            dbo.SensorDateTime INNER JOIN
                                       dbo.SensorSetting ON dbo.SensorDateTime.SensorSettingId = dbo.SensorSetting.Id INNER JOIN
									   dbo.Unit ON dbo.SensorSetting.UnitId = dbo.Unit.Id INNER JOIN
                                       dbo.SensorType ON dbo.SensorSetting.SensorTypeId = dbo.SensorType.Id


CREATE VIEW [dbo].[LastDatetime]
AS
SELECT        MAX(dbo.SensorDateTime.DateTime) AS DateTime, dbo.SensorSetting.StationId
FROM            dbo.SensorDateTime INNER JOIN
                         dbo.SensorSetting ON dbo.SensorDateTime.SensorSettingId = dbo.SensorSetting.Id
GROUP BY dbo.SensorSetting.StationId
GO


/****** Object:  View [dbo].[LastDatetime]    Script Date: 4/15/2019 9:01:09 AM ******/

CREATE VIEW [dbo].[LastDatetime]
AS
SELECT        MAX(dbo.SensorDateTime.DateTime) AS DateTime, dbo.SensorSetting.StationId
FROM            dbo.SensorDateTime INNER JOIN
                         dbo.SensorSetting ON dbo.SensorDateTime.SensorSettingId = dbo.SensorSetting.Id
GROUP BY dbo.SensorSetting.StationId
GO
/****** Object:  StoredProcedure [dbo].[Sp_GolbadChart]    Script Date: 3/2/2019 9:42:27 AM ******/


CREATE PROCEDURE [dbo].[Sp_GolbadChart]

@StationId varchar(MAX) ,
@SpeedSensorId varchar(MAX) ,
@DirectionSensorId varchar(MAX) ,
@FromDate varchar(MAX),
@ToDate varchar(MAX) 
AS

DECLARE @query varchar(max)

set @query = 'select ['+@SpeedSensorId+'] as ''Speed'',['+@DirectionSensorId+'] as ''Direction'' from
					   (SELECT          dbo.SensorDateTime.DateTime,dbo.SensorDateTime.Data,dbo.SensorSetting.Id as SensorTypeId
                        FROM            dbo.SensorDateTime INNER JOIN
                                       dbo.SensorSetting ON dbo.SensorDateTime.SensorSettingId = dbo.SensorSetting.Id 
									   where dbo.SensorSetting.StationId ='+@StationId+' 
									   AND  dbo.SensorSetting.Id IN('+@SpeedSensorId+','+@DirectionSensorId+')  
									   AND [DateTime] BETWEEN  '''+@FromDate+''' AND '''+@ToDate+''') as tbl
						PIVOT (
						      max(Data) for SensorTypeId IN (['+@SpeedSensorId+'],['+@DirectionSensorId+']) 
						)as pivottbl
						order by pivottbl.['+@DirectionSensorId+']'

EXEC(@query)



GO
/****** Object:  StoredProcedure [dbo].[Sp_MapInfo]    Script Date: 3/2/2019 9:42:27 AM ******/
                     
					   
	CREATE PROCEDURE [dbo].[Sp_MapInfo]	
	 @myList varchar(MAX) 
	As			   
	declare @query varchar(MAX)
	set @query  = 'SELECT          dbo.SensorDateTime.[DateTime],dbo.SensorDateTime.Data, dbo.SensorType.FaName +'' ( '' +dbo.Unit.FaName+'' ) '' as FaName , dbo.SensorSetting.StationId
				  FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id INNER JOIN
                         Unit ON SensorSetting.UnitId = Unit.Id INNER JOIN
                         SensorType ON SensorSetting.SensorTypeId = SensorType.Id INNER JOIN
                         LastDatetime ON SensorSetting.StationId = LastDatetime.StationId AND SensorDateTime.DateTime = LastDatetime.DateTime AND SensorSetting.StationId IN'+@myList
	exec(@query)

GO
/****** Object:  StoredProcedure [dbo].[Sp_SensorChar]    Script Date: 3/2/2019 9:42:27 AM ******/


CREATE PROCEDURE [dbo].[Sp_SensorChart]
  @FromDate varchar(MAX),
  @ToDate varchar(MAX),
  @DateType varchar(MAX),
  @ComputingType varchar(MAX),
  @StationId int,
  @SensorId int
AS
BEGIN
			if(@DateType = 'AllData')
			begin
			        SELECT          dbo.SensorDateTime.Data ,dbo.SensorDateTime.DateTime 
                    FROM            dbo.SensorSetting INNER JOIN dbo.SensorDateTime  ON 
									dbo.SensorSetting.Id = dbo.SensorDateTime.SensorSettingId 
					WHERE			(dbo.SensorDateTime.Data <= dbo.SensorSetting.SensorMax AND dbo.SensorDateTime.Data >= dbo.SensorSetting.SensorMin)
					AND				dbo.SensorDateTime.DateTime BETWEEN ''+@FromDate+'' AND ''+@ToDate+''
					AND				dbo.SensorSetting.StationId = @StationId
					AND				dbo.SensorSetting.Id = @SensorId
					order by DateTime
			end
			else 
			begin
				DECLARE @ComputingTypeSelect varchar(MAX) = ''
				if(@DateType = 'InDay')
				begin
				 set @ComputingTypeSelect = 'SELECT          '+@ComputingType+'(dbo.SensorDateTime.Data)  as Data, dateadd(DAY,0, datediff(DAY,0, dbo.SensorDateTime.[DateTime])) as DateTime 
											FROM            dbo.SensorSetting INNER JOIN dbo.SensorDateTime  ON 
															dbo.SensorSetting.Id = dbo.SensorDateTime.SensorSettingId 
											WHERE			(dbo.SensorDateTime.Data <= dbo.SensorSetting.SensorMax AND dbo.SensorDateTime.Data >= dbo.SensorSetting.SensorMin)
											AND				dbo.SensorDateTime.DateTime BETWEEN '''+@FromDate+''' AND '''+@ToDate+'''
											AND				dbo.SensorSetting.StationId = '+convert(varchar(MAX), @StationId)+ '
											AND				dbo.SensorSetting.Id = '+convert(varchar(MAX), @SensorId)+'
											GROUP BY dateadd(DAY,0, datediff(DAY,0, DateTime)) order by DateTime'
				end
				else if(@DateType = 'InMonth')
				begin 
								 set @ComputingTypeSelect = 'SELECT          '+@ComputingType+'(dbo.SensorDateTime.Data) as Data ,MAX(dbo.SensorDateTime.[DateTime])  as DateTime  
															 FROM            dbo.SensorSetting INNER JOIN dbo.SensorDateTime  ON 
															 				dbo.SensorSetting.Id = dbo.SensorDateTime.SensorSettingId 
															 WHERE			(dbo.SensorDateTime.Data <= dbo.SensorSetting.SensorMax AND dbo.SensorDateTime.Data >= dbo.SensorSetting.SensorMin)
															 AND				dbo.SensorDateTime.DateTime BETWEEN '''+@FromDate+''' AND '''+@ToDate+'''
															 AND				dbo.SensorSetting.StationId = '+convert(varchar(MAX), @StationId)+ '
															 AND				dbo.SensorSetting.Id = '+convert(varchar(MAX), @SensorId)+'
															 GROUP BY  MONTH(dbo.SensorDateTime.[DateTime]) order by DateTime'
				end
			    EXEC(@ComputingTypeSelect)		
			end
END



GO
/****** Object:  StoredProcedure [dbo].[Sp_SensorData]    Script Date: 3/2/2019 9:42:27 AM ******/


CREATE PROCEDURE [dbo].[Sp_SensorData]
                                  @FromDate varchar(MAX),
                                  @ToDate varchar(MAX),
								  @DateType varchar(MAX),
								  @Fields nvarchar(MAX),
								  @Take varchar(MAX),
								  @Skip varchar(MAX),
                                  @StationId int
                                  AS
								if(@DateType = 'AllData')
									begin
									DECLARE @cols AS NVARCHAR(MAX),@query  AS NVARCHAR(MAX);
									
									SET @cols = STUFF((SELECT distinct ',' + QUOTENAME(c.FaName)
									            FROM SensorData c
									            FOR XML PATH(''), TYPE
									            ).value('.', 'NVARCHAR(MAX)') 
									        ,1,1,'')
									
									set @query = 'Select DateTime ,' + @cols + ' from (SELECT *  from  SensorData   where StationId = '+convert(varchar(MAX), @StationId)+' And [DateTime] BETWEEN  '''+@FromDate+''' And '''+@ToDate+''' )  a
												  
									            pivot 
									            (
									                 max(Data)
									                for FaName in (' + @cols + ')
									            ) p 
												
												ORDER BY [DateTime] 
												OFFSET     '+@Skip+' ROWS  
												FETCH NEXT '+@Take+' ROWS ONLY '
									execute(@query)  
								  End
								ELSE
									begin
									DECLARE @GROUPTYPE AS VARCHAR(MAX)
									IF(@DateType = 'DAY')
									  begin
									      execute('SELECT dateadd(DAY,0, datediff(DAY,0, [DateTime])) as DateTime '
												   +@Fields+'
													FROM [MeteorologyDB].[dbo].[SensorDateTime]
													Inner join
													[MeteorologyDB].[dbo].[SensorSetting]
													on [MeteorologyDB].[dbo].[SensorDateTime].SensorSettingId =  [MeteorologyDB].[dbo].[SensorSetting].Id
													Inner join
													[MeteorologyDB].[dbo].[SensorType]
													on [MeteorologyDB].[dbo].[SensorType].Id =  [MeteorologyDB].[dbo].[SensorSetting].SensorTypeId
											  WHERE DateTime Between '''+@FromDate+''' AND '''+@ToDate+'''  AND  [MeteorologyDB].[dbo].[SensorSetting].StationId = convert(varchar(MAX), '+@StationId+')
											  GROUP BY dateadd(DAY,0, datediff(DAY,0, [DateTime]))
											  ORDER BY [DateTime]')
									  end
								    ELSE 
									   begin
									   		  execute('SELECT MAX(dbo.SensorDateTime.[DateTime]) as DateTime'
												   +@Fields+'
													FROM [MeteorologyDB].[dbo].[SensorDateTime]
													Inner join
													[MeteorologyDB].[dbo].[SensorSetting]
													on [MeteorologyDB].[dbo].[SensorDateTime].SensorSettingId =  [MeteorologyDB].[dbo].[SensorSetting].Id
													Inner join
													[MeteorologyDB].[dbo].[SensorType]
													on [MeteorologyDB].[dbo].[SensorType].Id =  [MeteorologyDB].[dbo].[SensorSetting].SensorTypeId
											  WHERE DateTime Between '''+@FromDate+''' AND '''+@ToDate+'''  AND  [MeteorologyDB].[dbo].[SensorSetting].StationId = convert(varchar(MAX), '+@StationId+')
											  GROUP BY DATEPART(Month, dbo.SensorDateTime.[DateTime])
											  ORDER BY [DateTime]')
									   end


									end











GO
/****** Object:  StoredProcedure [dbo].[Sp_SensorDataExport]    Script Date: 3/2/2019 9:42:27 AM ******/


CREATE PROCEDURE [dbo].[Sp_SensorDataExport]
                                  @FromDate varchar(MAX),
                                  @ToDate varchar(MAX),
								  @DateType varchar(MAX),
								  @Fields nvarchar(MAX), 
                                  @StationId int
                                  AS
								if(@DateType = 'AllData')
									begin
									DECLARE @cols AS NVARCHAR(MAX),@query  AS NVARCHAR(MAX);
									
									SET @cols = STUFF((SELECT distinct ',' + QUOTENAME(c.FaName)
									            FROM SensorData c
									            FOR XML PATH(''), TYPE
									            ).value('.', 'NVARCHAR(MAX)') 
									        ,1,1,'')
									
									set @query = 'Select DateTime as DateTime ,' + @cols + ' from (SELECT *  from  SensorDataEXPORT   where StationId = '+convert(varchar(MAX), @StationId)+' And [DateTime] BETWEEN  '''+@FromDate+''' And '''+@ToDate+''' )  a
												  
									            pivot 
									            (
									                 max(Data)
									                for FaName in (' + @cols + ')
									            ) p 
												
												ORDER BY [DateTime]  '
									execute(@query)  
								  End
								ELSE
									begin
									DECLARE @GROUPTYPE AS VARCHAR(MAX)
									IF(@DateType = 'DAY')
									  begin
									      execute('SELECT dateadd(DAY,0, datediff(DAY,0, [DateTime])) as DateTime '
												   +@Fields+'
													FROM [MeteorologyDB].[dbo].[SensorDateTime]
													Inner join
													[MeteorologyDB].[dbo].[SensorSetting]
													on [MeteorologyDB].[dbo].[SensorDateTime].SensorSettingId =  [MeteorologyDB].[dbo].[SensorSetting].Id
													Inner join
													[MeteorologyDB].[dbo].[SensorType]
													on [MeteorologyDB].[dbo].[SensorType].Id =  [MeteorologyDB].[dbo].[SensorSetting].SensorTypeId
											  WHERE DateTime Between '''+@FromDate+''' AND '''+@ToDate+'''  AND  [MeteorologyDB].[dbo].[SensorSetting].StationId = convert(varchar(MAX), '+@StationId+')
											  GROUP BY dateadd(DAY,0, datediff(DAY,0, [DateTime]))
											  ORDER BY [DateTime]')
									  end
								    ELSE 
									   begin
									   		  execute('SELECT MAX(dbo.SensorDateTime.[DateTime]) as DateTime'
												   +@Fields+'
													FROM [MeteorologyDB].[dbo].[SensorDateTime]
													Inner join
													[MeteorologyDB].[dbo].[SensorSetting]
													on [MeteorologyDB].[dbo].[SensorDateTime].SensorSettingId =  [MeteorologyDB].[dbo].[SensorSetting].Id
													Inner join
													[MeteorologyDB].[dbo].[SensorType]
													on [MeteorologyDB].[dbo].[SensorType].Id =  [MeteorologyDB].[dbo].[SensorSetting].SensorTypeId
											  WHERE DateTime Between '''+@FromDate+''' AND '''+@ToDate+'''  AND  [MeteorologyDB].[dbo].[SensorSetting].StationId = convert(varchar(MAX), '+@StationId+')
											  GROUP BY DATEPART(Month, dbo.SensorDateTime.[DateTime])
											  ORDER BY [DateTime]')
									   end


									end



USE [WeatherDB]
GO
/****** Object:  StoredProcedure [dbo].[Sp_StationStatus1]    Script Date: 8/30/2022 10:33:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[Sp_SensorData]    Script Date: 3/2/2019 9:42:27 AM ******/


ALTER PROCEDURE [dbo].[Sp_StationStatus1] 
 @FromDate varchar(MAX)

  AS
begin

declare @stationid bigint
declare @Rain float 
declare @lastTime datetime

declare @tbl      table(id bigint,PrjName  nvarchar(max),Name nvarchar(max),StationCardNumber nvarchar(max),lastDate Datetime,SumRain float )
insert into      @tbl select  Station.id,Project.Name,Station.Name,StationCardNumber,NULL,NULL from Station inner join Project on Project.id=Station.ProjectId	 

declare      gap_cursor CURSOR
FOR SELECT  id  FROM      @tbl 
OPEN      gap_cursor
FETCH        NEXT FROM      gap_cursor
INTO      @stationId
WHILE     @@FETCH_STATUS        =      0
     BEGIN
set @lastTime=(select top(1) Datetime from SensorDateTime inner join SensorSetting on SensorSetting.id=SensorDateTime.SensorSettingId where SensorSetting.StationId=@stationid order by Datetime desc)
			 
set @Rain=(
SELECT sum(data)
FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id
WHERE        (SensorSetting.SensorTypeId = 2) AND (SensorSetting.StationId = @StationId) AND convert(time,(cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar)))<=convert(time,'06:30' )
 and DateTime between cast( cast (cAST(dateadd(DAY,-1, datediff(DAY,0, @lastTime))AS DATE)as varchar)+' 06:29:00' as datetime)  and cast(cast (cAST(dateadd(DAY,0, datediff(DAY,0, @lastTime))AS DATE)as varchar)+' 06:31:00' as datetime))




	 update      @tbl set     lastDate=	@lastTime, SumRain=@Rain

where     id=@stationid
FETCH        NEXT FROM      gap_cursor
INTO      @stationId

END
CLOSE gap_cursor
DEALLOCATE gap_cursor

select PrjName,Name,StationCardNumber,(case when lastDate IS NULL then '' else lastDate end)lastDate,SumRain from @tbl 
order by lastDate desc
end



USE [WeatherDB]
GO
/****** Object:  StoredProcedure [dbo].[Sp_SensorData1]    Script Date: 8/30/2022 10:33:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[Sp_SensorData]    Script Date: 3/2/2019 9:42:27 AM ******/


ALTER PROCEDURE [dbo].[Sp_SensorData1]
                                  @FromDate varchar(MAX),
                                  @ToDate varchar(MAX),
								  @DateType varchar(MAX),
								  @Fields nvarchar(MAX),
								  @Take varchar(MAX),
								  @Skip varchar(MAX),
                                  @StationId int
                                  AS
								if(@DateType = 'AllData')
									begin
									DECLARE @cols AS NVARCHAR(MAX),@query  AS NVARCHAR(MAX);
									
									SET @cols = STUFF((SELECT distinct ',' + QUOTENAME(c.FaName)
									            FROM SensorData c
												where c.StationId=@StationId
									            FOR XML PATH(''), TYPE
									            ).value('.', 'NVARCHAR(MAX)') 
									        ,1,1,'')
									
									set @query = 'Select DateTime ,' + @cols + ' from (SELECT *  from  SensorData   where StationId = '+convert(varchar(MAX), @StationId)+' And [DateTime] BETWEEN  '''+@FromDate+''' And '''+@ToDate+''' )  a
												  
									            pivot 
									            (
									                 max(Data)
									                for FaName in (' + @cols + ')
									            ) p 
												
												ORDER BY [DateTime] 
												OFFSET     '+@Skip+' ROWS  
												FETCH NEXT '+@Take+' ROWS ONLY '
									execute(@query)  
								  End
								ELSE
									begin
									DECLARE @GROUPTYPE AS VARCHAR(MAX)
									IF(@DateType = 'InDAY')
									  begin
									      execute('SELECT dateadd(DAY,0, datediff(DAY,0, [DateTime])) as DateTime '
												   +@Fields+'
													FROM [WeatherDB].[dbo].[SensorDateTime]
													Inner join
													[WeatherDB].[dbo].[SensorSetting]
													on [WeatherDB].[dbo].[SensorDateTime].SensorSettingId =  [WeatherDB].[dbo].[SensorSetting].Id
													Inner join
													[WeatherDB].[dbo].[SensorType]
													on [WeatherDB].[dbo].[SensorType].Id =  [WeatherDB].[dbo].[SensorSetting].SensorTypeId
											  WHERE DateTime Between '''+@FromDate+''' AND '''+@ToDate+'''  AND  [WeatherDB].[dbo].[SensorSetting].StationId = convert(varchar(MAX), '+@StationId+')
											  GROUP BY dateadd(DAY,0, datediff(DAY,0, [DateTime]))
											  ORDER BY [DateTime]')
									  end
								    ELSE IF(@DateType = 'InMonth')
									   begin
									   		  execute('SELECT MAX(dbo.SensorDateTime.[DateTime]) as DateTime'
												   +@Fields+'
													FROM [WeatherDB].[dbo].[SensorDateTime]
													Inner join
													[WeatherDB].[dbo].[SensorSetting]
													on [WeatherDB].[dbo].[SensorDateTime].SensorSettingId =  [WeatherDB].[dbo].[SensorSetting].Id
													Inner join
													[WeatherDB].[dbo].[SensorType]
													on [WeatherDB].[dbo].[SensorType].Id =  [WeatherDB].[dbo].[SensorSetting].SensorTypeId
											   WHERE DateTime Between '''+@FromDate+''' AND '''+@ToDate+'''  AND  [WeatherDB].[dbo].[SensorSetting].StationId = convert(varchar(MAX), '+@StationId+')
											 group by [WeatherDB].[dbo].[GetYearPersian]([DateTime]),[WeatherDB].[dbo].[GetMonthPersian]([DateTime])
											 order by datetime')
									   end
	
					
				end










USE [WeatherDB]
GO
/****** Object:  StoredProcedure [dbo].[Sp_RainData1]    Script Date: 8/30/2022 10:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

USE [WeatherDB]
GO
/****** Object:  StoredProcedure [dbo].[Sp_RainData1]    Script Date: 8/30/2022 10:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[Sp_SensorData]    Script Date: 3/2/2019 9:42:27 AM ******/
ALTER PROCEDURE [dbo].[Sp_RainData1]
@StationId varchar(MAX) ,
@FromDate varchar(MAX),
@ToDate varchar(MAX) 

as
begin
declare @tbYes18 table( time1 datetime ,sumchanel1 float )
declare @tbToday table ( time2 datetime ,sumchanel2 float )
declare @tbTodayOP table ( timeTOP datetime ,sumchanel float,OP6 float ,OP18 float )
declare @tbYes6 table ( time3 datetime ,sumchanel3 float )
declare @tbYes table ( timeYes datetime ,rain18 float  ,rain6 float)
declare @tbOprator table ( timeOP datetime ,OP6 float ,OP18 float)

insert into @tbOprator								
SELECT 
      dateadd(DAY,0, datediff(DAY,0, [ReceivedTime]))
       ,Case when convert(time,(cast((DATEPART(HOUR, [ReceivedTime])) as nvarchar)+':'+Cast((DATEPART(MINUTE,[ReceivedTime])) as nvarchar)))<=convert(time,'08:00' ) then [Value] else NULL end
	   ,Case when convert(time,(cast((DATEPART(HOUR, [ReceivedTime])) as nvarchar)+':'+Cast((DATEPART(MINUTE,[ReceivedTime])) as nvarchar)))>=convert(time,'18:00' ) then [Value] else NULL end
  FROM [dbo].[ReceivedSMS]
  where [Type]='O' AND ([StationId]= @StationId)  And [ReceivedTime] Between  ''+@FromDate+'' AND ''+@ToDate+''
  
insert into @tbYes18
SELECT  dateadd(DAY,1, datediff(DAY,0, [DateTime])), sum(Data)
FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id
WHERE        (SensorSetting.SensorTypeId = 2) AND (SensorSetting.StationId = @StationId) AND convert(time,(cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar)))>=convert(time,'18:30')
  And DateTime Between  ''+@FromDate+'' AND ''+@ToDate+''
 group by dateadd(DAY,1, datediff(DAY,0, [DateTime]))
 order by dateadd(DAY,1, datediff(DAY,0, [DateTime]))


insert into @tbToday
SELECT  dateadd(DAY,0, datediff(DAY,0, [DateTime])) , sum(Data)
FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id
WHERE        (SensorSetting.SensorTypeId = 2) AND (SensorSetting.StationId = @StationId) AND convert(time,(cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar)))<=convert(time,'06:30' )
 And DateTime Between  ''+@FromDate+'' AND ''+@ToDate+''
 group by  dateadd(DAY,0, datediff(DAY,0, [DateTime]))
 order by dateadd(DAY,0, datediff(DAY,0, [DateTime]))

 
insert into @tbYes6
SELECT  dateadd(DAY,1, datediff(DAY,0, [DateTime])) , sum(Data)
FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id
WHERE        (SensorSetting.SensorTypeId = 2) AND (SensorSetting.StationId = @StationId) AND convert(time,(cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar)))>=convert(time,'06:30' )
 And DateTime Between  ''+@FromDate+'' AND ''+@ToDate+''
 group by  dateadd(DAY,1, datediff(DAY,0, [DateTime]))
 order by dateadd(DAY,1, datediff(DAY,0, [DateTime]))
 
 
 insert into @tbYes
SELECT  dateadd(DAY,0, datediff(DAY,0, [time1])) as Datetime,sumchanel1,sumchanel3 from @tbYes6,@tbYes18
 where time1=time3 
 order by Datetime

 insert into @tbTodayOP
SELECT  dateadd(DAY,0, datediff(DAY,0, [time2])) as Datetime,sumchanel2,OP6,OP18 from @tbToday
 FULL JOIN @tbOprator ON time2=timeOP
 order by Datetime



 SELECT  dateadd(DAY,0, datediff(DAY,0, timeTOP)) as Datetime, rain18 as N'مجموع بارش 18:30-24 دیروز',rain6 as N'مجموع بارش 6:30-24 دیروز',sumchanel as N'مجموع بارش 24-6:30 صبح',rain18+sumchanel as N'مجموع بارش 12 ساعته',rain6+sumchanel as N'مجموع بارش 24 ساعته',OP6 as N'باران متصدی صبح',OP18 as N'باران متصدی بعدازظهر' from @tbYes,@tbTodayOP
 where timeTOP=timeYes 
 order by DateTime

 end
USE [WeatherDB]
GO
/****** Object:  StoredProcedure [dbo].[Sp_RainDataExport1]    Script Date: 8/30/2022 10:32:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[Sp_SensorData]    Script Date: 3/2/2019 9:42:27 AM ******/
 ALTER PROCEDURE [dbo].[Sp_RainDataExport1]
@StationId varchar(MAX) ,
@FromDate varchar(MAX),
@ToDate varchar(MAX) 

as
begin
declare @tbYes18 table( time1 datetime ,sumchanel1 float )
declare @tbToday table ( time2 datetime ,sumchanel2 float )
declare @tbTodayOP table ( timeTOP datetime ,sumchanel float,OP6 float ,OP18 float )
declare @tbYes6 table ( time3 datetime ,sumchanel3 float )
declare @tbYes table ( timeYes datetime ,rain18 float  ,rain6 float)
declare @tbOprator table ( timeOP datetime ,OP6 float ,OP18 float)

insert into @tbOprator								
SELECT 
      dateadd(DAY,0, datediff(DAY,0, [ReceivedTime]))
       ,Case when convert(time,(cast((DATEPART(HOUR, [ReceivedTime])) as nvarchar)+':'+Cast((DATEPART(MINUTE,[ReceivedTime])) as nvarchar)))<=convert(time,'08:00' ) then [Value] else NULL end
	   ,Case when convert(time,(cast((DATEPART(HOUR, [ReceivedTime])) as nvarchar)+':'+Cast((DATEPART(MINUTE,[ReceivedTime])) as nvarchar)))>=convert(time,'18:00' ) then [Value] else NULL end
  FROM [dbo].[ReceivedSMS]
  where [Type]='O' AND ([StationId]= @StationId)  And [ReceivedTime] Between  ''+@FromDate+'' AND ''+@ToDate+''
  
insert into @tbYes18
SELECT  dateadd(DAY,1, datediff(DAY,0, [DateTime])), sum(Data)
FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id
WHERE        (SensorSetting.SensorTypeId = 2) AND (SensorSetting.StationId = @StationId) AND convert(time,(cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar)))>=convert(time,'18:30')
  And DateTime Between  ''+@FromDate+'' AND ''+@ToDate+''
 group by dateadd(DAY,1, datediff(DAY,0, [DateTime]))
 order by dateadd(DAY,1, datediff(DAY,0, [DateTime]))


insert into @tbToday
SELECT  dateadd(DAY,0, datediff(DAY,0, [DateTime])) , sum(Data)
FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id
WHERE        (SensorSetting.SensorTypeId = 2) AND (SensorSetting.StationId = @StationId) AND convert(time,(cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar)))<=convert(time,'06:30' )
 And DateTime Between  ''+@FromDate+'' AND ''+@ToDate+''
 group by  dateadd(DAY,0, datediff(DAY,0, [DateTime]))
 order by dateadd(DAY,0, datediff(DAY,0, [DateTime]))

 
insert into @tbYes6
SELECT  dateadd(DAY,1, datediff(DAY,0, [DateTime])) , sum(Data)
FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id
WHERE        (SensorSetting.SensorTypeId = 2) AND (SensorSetting.StationId = @StationId) AND convert(time,(cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar)))>=convert(time,'06:30' )
 And DateTime Between  ''+@FromDate+'' AND ''+@ToDate+''
 group by  dateadd(DAY,1, datediff(DAY,0, [DateTime]))
 order by dateadd(DAY,1, datediff(DAY,0, [DateTime]))
 
 
 insert into @tbYes
SELECT  dateadd(DAY,0, datediff(DAY,0, [time1])) as Datetime,sumchanel1,sumchanel3 from @tbYes6,@tbYes18
 where time1=time3 
 order by Datetime

 insert into @tbTodayOP
SELECT  dateadd(DAY,0, datediff(DAY,0, [time2])) as Datetime,sumchanel2,OP6,OP18 from @tbToday
 FULL JOIN @tbOprator ON time2=timeOP
 order by Datetime



 SELECT  dateadd(DAY,0, datediff(DAY,0, timeTOP)) as DateTime, rain18 as N'مجموع بارش 18:30-24 دیروز',rain6 as N'مجموع بارش 6:30-24 دیروز',sumchanel as N'مجموع بارش 24-6:30 صبح',rain18+sumchanel as N'مجموع بارش 12 ساعته',rain6+sumchanel as N'مجموع بارش 24 ساعته',OP6 as N'باران متصدی صبح',OP18 as N'باران متصدی بعدازظهر' from @tbYes,@tbTodayOP
 where timeTOP=timeYes 
 order by DateTime

 end




USE [WeatherDB]
GO
/****** Object:  StoredProcedure [dbo].[Sp_CompareData]    Script Date: 8/30/2022 10:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[Sp_SensorData]    Script Date: 3/2/2019 9:42:27 AM ******/
ALTER PROCEDURE [dbo].[Sp_CompareData]
@StationId varchar(MAX) ,
@FromDate varchar(MAX),
@ToDate varchar(MAX) 

as
begin
declare @tb table( time1 datetime ,sumchanel1 float )
declare @tb2 table ( time2 datetime ,sumchanel2 float )
declare @tb3 table ( timeb datetime ,sumchanel3 float )

insert into @tb
SELECT  dateadd(DAY,0, datediff(DAY,0, [DateTime])), sum(Data)
FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id
WHERE        (SensorSetting.SensorTypeId = 2) AND (SensorSetting.StationId = @StationId) AND (cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar))>='18:30'
  And DateTime Between  ''+@FromDate+'' AND ''+@ToDate+''
 group by dateadd(DAY,0, datediff(DAY,0, [DateTime]))
 order by dateadd(DAY,0, datediff(DAY,0, [DateTime]))


insert into @tb2
SELECT  dateadd(DAY,1, datediff(DAY,0, [DateTime])) , sum(Data)
FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id
WHERE        (SensorSetting.SensorTypeId = 2) AND (SensorSetting.StationId = @StationId) AND (cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar))<='06:30' 
 And DateTime Between  ''+@FromDate+'' AND ''+@ToDate+''
 group by  dateadd(DAY,1, datediff(DAY,0, [DateTime]))
 order by dateadd(DAY,1, datediff(DAY,0, [DateTime]))

 insert into @tb3
 select dateadd(DAY,0, datediff(DAY,0, [time1])),sumchanel2+sumchanel1 from @tb,@tb2
 where time1=time2


declare @Damatb table( time3 Datetime ,Dama6 float,Dama12 float,Dama18 float  )
declare @Humtb table( time4 Datetime ,Hum6 float,Hum12 float,Hum18 float  )


insert into @Damatb
select * from (SELECT           dateadd(DAY,0, datediff(DAY,0, [DateTime])) as DateTime ,DATEPART(HOUR, SensorDateTime.DateTime)as Hr, SensorDateTime.Data
FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id
WHERE        (SensorSetting.SensorTypeId = 5) AND (SensorSetting.StationId = @StationId) AND  (DATEPART(HOUR, SensorDateTime.DateTime)) in(6,12,18) AND (DATEPART(MINUTE,SensorDateTime.DateTime)=30) 
And DateTime Between  ''+@FromDate+'' AND ''+@ToDate+''

)s
pivot
(min(s.Data) FOR s.Hr
IN ([6],[12],[18])
)pTable  order by DateTime


insert into @Humtb
select * from (SELECT        dateadd(DAY,0, datediff(DAY,0, [DateTime])) as DateTime ,DATEPART(HOUR, SensorDateTime.DateTime)as Hr, SensorDateTime.Data
FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id
WHERE        (SensorSetting.SensorTypeId = 6) AND (SensorSetting.StationId = @StationId) AND  (DATEPART(HOUR, SensorDateTime.DateTime)) in(6,12,18) AND (DATEPART(MINUTE,SensorDateTime.DateTime)=30) 
 And DateTime Between  ''+@FromDate+'' AND ''+@ToDate+''

)s
pivot
(min(s.Data) FOR s.Hr
IN ([6],[12],[18])
)pTable  order by DateTime

select CASE
        WHEN time3 IS NULL THEN CONVERT(VARCHAR(10), timeb, 111)
        ELSE CONVERT(VARCHAR(10), time3, 111)
    END as datetime ,Dama6,Dama12,Dama18,Hum6,Hum12,Hum18
,sumchanel3 as SumRain
 from @Damatb FULL OUTER JOIN @Humtb
  ON time3 = time4
  FULL OUTER JOIN  @tb3
  ON time3 = timeb;
  end


  USE [WeatherDB]
GO
/****** Object:  StoredProcedure [dbo].[Sp_CompareRainData]    Script Date: 8/30/2022 10:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[Sp_SensorData]    Script Date: 3/2/2019 9:42:27 AM ******/
ALTER PROCEDURE [dbo].[Sp_CompareRainData]
@StationId varchar(MAX) ,
@FromDate varchar(MAX),
@ToDate varchar(MAX) 
with Encryption
as
begin
declare @tb table( time1 datetime ,sumchanel1 float )
declare @tb2 table ( time2 datetime ,sumchanel2 float )

insert into @tb
SELECT  dateadd(DAY,0, datediff(DAY,0, [DateTime])), sum(Data)
FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id
WHERE        (SensorSetting.SensorTypeId = 2) AND (SensorSetting.StationId = @StationId) AND (cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar))>='18:30'
  And DateTime Between  ''+@FromDate+'' AND ''+@ToDate+''
 group by dateadd(DAY,0, datediff(DAY,0, [DateTime]))
 order by dateadd(DAY,0, datediff(DAY,0, [DateTime]))


insert into @tb2
SELECT  dateadd(DAY,1, datediff(DAY,0, [DateTime])) , sum(Data)
FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id
WHERE        (SensorSetting.SensorTypeId = 2) AND (SensorSetting.StationId = @StationId) AND (cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar))<='06:30' 
 And DateTime Between  ''+@FromDate+'' AND ''+@ToDate+''
 group by  dateadd(DAY,1, datediff(DAY,0, [DateTime]))
 order by dateadd(DAY,1, datediff(DAY,0, [DateTime]))


 
 select dateadd(DAY,0, datediff(DAY,0, [time1])) as Datetime,sumchanel2+sumchanel1 as SumRain from @tb,@tb2
 where time1=time2
 end

 USE [WeatherDB]
GO
/****** Object:  StoredProcedure [dbo].[Sp_EvaporationData]    Script Date: 8/30/2022 10:45:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[Sp_SensorData]    Script Date: 3/2/2019 9:42:27 AM ******/
ALTER PROCEDURE [dbo].[Sp_EvaporationData]
@StationId varchar(MAX) ,
@FromDate varchar(MAX),
@ToDate varchar(MAX) 
with Encryption
as
begin
declare @tb table( time1 datetime ,sumchanel1 float )
declare @tb2 table ( time2 datetime ,sumchanel2 float )

insert into @tb
SELECT  dateadd(DAY,1, datediff(DAY,0, [DateTime])), max(Data)
FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id
WHERE        (SensorSetting.SensorTypeId = 31) AND (SensorSetting.StationId = @StationId) AND convert(time,(cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar)))<=convert(time,'19:00')
 AND convert(time,(cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar)))>=convert(time,'18:30')
  And DateTime Between  ''+@FromDate+'' AND ''+@ToDate+''
 group by dateadd(DAY,1, datediff(DAY,0, [DateTime]))
 order by dateadd(DAY,1, datediff(DAY,0, [DateTime]))


insert into @tb2
SELECT  dateadd(DAY,0, datediff(DAY,0, [DateTime])) ,Round(avg(Data),2)
FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id
WHERE        (SensorSetting.SensorTypeId = 31) AND (SensorSetting.StationId = @StationId)AND convert(time,(cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar)))<=convert(time,'18:00')
 AND convert(time,(cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar)))>=convert(time,'17:30')
 And DateTime Between  ''+@FromDate+'' AND ''+@ToDate+''
 group by  dateadd(DAY,0, datediff(DAY,0, [DateTime]))
 order by dateadd(DAY,0, datediff(DAY,0, [DateTime]))


 
 select dateadd(DAY,0, datediff(DAY,0, [time2])) as Datetime,sumchanel1,sumchanel2,Round(sumchanel1-sumchanel2,2) as SumRain from @tb,@tb2
 where time1=time2
 order by Datetime
 end


 USE [WeatherDB]
GO
/****** Object:  StoredProcedure [dbo].[Sp_EvaporationDataExport]    Script Date: 8/30/2022 10:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[Sp_SensorData]    Script Date: 3/2/2019 9:42:27 AM ******/
ALTER PROCEDURE [dbo].[Sp_EvaporationDataExport]
@StationId varchar(MAX) ,
@FromDate varchar(MAX),
@ToDate varchar(MAX) 
With Encryption
as
begin
declare @tb table( time1 datetime ,sumchanel1 float )
declare @tb2 table ( time2 datetime ,sumchanel2 float )

insert into @tb
SELECT  dateadd(DAY,1, datediff(DAY,0, [DateTime])), max(Data)
FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id
WHERE        (SensorSetting.SensorTypeId = 31) AND (SensorSetting.StationId = @StationId) AND convert(time,(cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar)))<=convert(time,'19:00')
 AND convert(time,(cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar)))>=convert(time,'18:30')
  And DateTime Between  ''+@FromDate+'' AND ''+@ToDate+''
 group by dateadd(DAY,1, datediff(DAY,0, [DateTime]))
 order by dateadd(DAY,1, datediff(DAY,0, [DateTime]))


insert into @tb2
SELECT  dateadd(DAY,0, datediff(DAY,0, [DateTime])) ,Round(avg(Data),2)
FROM            SensorDateTime INNER JOIN
                         SensorSetting ON SensorDateTime.SensorSettingId = SensorSetting.Id
WHERE        (SensorSetting.SensorTypeId = 31) AND (SensorSetting.StationId = @StationId)AND convert(time,(cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar)))<=convert(time,'18:00')
 AND convert(time,(cast((DATEPART(HOUR, SensorDateTime.DateTime)) as nvarchar)+':'+Cast((DATEPART(MINUTE,SensorDateTime.DateTime)) as nvarchar)))>=convert(time,'17:30')
 And DateTime Between  ''+@FromDate+'' AND ''+@ToDate+''
 group by  dateadd(DAY,0, datediff(DAY,0, [DateTime]))
 order by dateadd(DAY,0, datediff(DAY,0, [DateTime]))


 
 select dateadd(DAY,0, datediff(DAY,0, [time2])) as Datetime,sumchanel1 as N'میزان سطح آب روز گذشته(cm)',sumchanel2 as N'میزان سطح آب روز جاری(cm)',Round(sumchanel1-sumchanel2,2)  as N'میزان تبخیر روزانه(cm)' from @tb,@tb2
 where time1=time2
 order by Datetime
 end

 USE [WeatherDB]
GO
/****** Object:  StoredProcedure [dbo].[Sp_SendSMS]    Script Date: 8/30/2022 10:45:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sp_SendSMS]
@FromDate varchar(MAX),
@ToDate varchar(MAX) 
with Encryption
as
begin
SELECT [SendTime]
      ,[To]
      ,[Message]
      
      ,[DatePrs]
      ,[Type]
  FROM [dbo].[SendSMS]
   where [SendTime] between  ''+@FromDate+'' AND ''+@ToDate+''
  end

USE [WeatherDB]
GO
/****** Object:  StoredProcedure [dbo].[Sp_ReceivedSMSExport]    Script Date: 8/30/2022 10:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sp_ReceivedSMSExport]
@StationId varchar(MAX) ,
@FromDate varchar(MAX),
@ToDate varchar(MAX), 
@Type varchar(max)
with Encryption
as
begin
SELECT 
	    [DatePrs] as N'تاریخ'
       ,[From]			as N'فرستنده'
	   ,[StationName]	as N'نام ایستگاه'
       ,CASE [Type] 
				WHEN 'S' THEN 'شروع باران'
				WHEN 'E' THEN 'پایان باران'
				WHEN 'M' THEN 'مجموع باران'
				WHEN 'F' THEN 'هشدار سیل'
				WHEN 'O' THEN 'متصدی'
				WHEN 'P' THEN 'درون چاهی'
				End		as N'نوع پیامک'
       ,[Value]			as N'مقدار'
	   ,[Message]   	as N'متن پیامک'
  FROM [dbo].[ReceivedSMS]
  where [ReceivedTime] between  ''+@FromDate+'' AND ''+@ToDate+''
  and  (@StationId='0' or [StationId]=@StationId )
  and( @Type=0 or Type=CASE @Type
				WHEN 1 THEN 'S'
				WHEN 2 THEN 'E'
				WHEN 3 THEN 'M'
				WHEN 4 THEN 'F'
				WHEN 5 THEN 'O'
				WHEN 6 THEN 'P'
				End)

end


USE [WeatherDB]
GO
/****** Object:  StoredProcedure [dbo].[Sp_ReceivedSMS]    Script Date: 8/30/2022 10:44:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sp_ReceivedSMS]
@StationId varchar(MAX) ,
@FromDate varchar(MAX),
@ToDate varchar(MAX), 
@Type varchar(max)
With Encryption
as
begin
SELECT 
	    [DatePrs]
       ,[From]
	   ,[StationName]
       ,CASE [Type] 
				WHEN 'S' THEN 'شروع باران'
				WHEN 'E' THEN 'پایان باران'
				WHEN 'M' THEN 'مجموع باران'
				WHEN 'F' THEN 'هشدار سیل'
				WHEN 'O' THEN 'متصدی'
				WHEN 'P' THEN 'درون چاهی'
				End
       ,[Value]
	   ,[Message]   
  FROM [dbo].[ReceivedSMS]
  where [ReceivedTime] between  ''+@FromDate+'' AND ''+@ToDate+''
  and  (@StationId='0' or [StationId]=@StationId )
  and( @Type=0 or Type=CASE @Type
				WHEN 1 THEN 'S'
				WHEN 2 THEN 'E'
				WHEN 3 THEN 'M'
				WHEN 4 THEN 'F'
				WHEN 5 THEN 'O'
				WHEN 6 THEN 'P'
				End)

end
