@using Weather.Data.Base;
@using System.Data;
@model DataTable

@{

    if (Model.Rows.Count == 0)
    {
        <h4 style="text-align:center;color:red">اطلاعاتی برای نمایش وجود ندارد</h4>
    }
    else
    {


        <table id="datatable-buttons" class="table table-striped table-bordered">
            <thead>
                <tr>
                    @{

                        <th>تاریخ</th>
                        <th>تعداد ساعات روزانه خیسی برگ</th>
                        <th>مجموع ساعات خیسی برگ</th>
                      

                    }
                
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (DataRow dr in Model.Rows)
                    {

                        <tr>
                            @{
                                foreach (DataColumn dc in Model.Columns)
                                {
                                    if (dc.Caption == "DateTime")
                                    {
                                        <td>@Convert.ToDateTime(dr[dc]).ToPeString("yyyy/MM/dd")</td>


                                    }

                                    else
                                    {

                                        <td> @dr[dc].ToString() </td>

                                    }
                                }


                            }

                        </tr>

                    }
                }
            </tbody>
        </table>

    }
}
