 


<div>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <img src="~/images/AccessDenid.jpg" />
        <b>شما به صفحه ای که درخواست داده اید دسترسی ندارید</b>
    </div>
    <div class="col-md-3"></div>
</div>