@{
    ViewBag.PageTitle = "گزارش پیامک های ارسالی";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive m-b-10">
            <div class="project-sort pull-left">
                <div class="project-sort-item">
                    <div class="form-inline">
                       
                        <div class="form-group">
                            <input type="text" class="form-control input-sm datepicker" id="FromDate" name="FromDate" style="width: 180px;margin: 3px 0 10px 10px;" placeholder="تاریخ و ساعت شروع گزارش">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm datepicker" id="ToDate" name="ToDate" style="width: 180px;margin: 3px 0 10px 10px;" placeholder="تاریخ و ساعت پایان گزارش">
                        </div>
                        @*<div>
                           
                            <h5><b style="float: right; margin-bottom: 5px;">نوع پیامک ها :</b></h5>
                            <select id="Type" name="Type" class="form-control input-sm">
                                <option value="">انتخاب نوع پیامک</option>
                                <option value="1">شروع باران</option>
                                <option value="2">پایان باران</option>
                                <option value="3">مجموع باران</option>
                                <option value="4">هشدار سیل</option>
                                <option value="5">متصدی</option>
                            </select>
                        </div>*@
                      
                        <button onclick="SendSMS_filter()" type="button" style="padding:4px 0 2px 0px" class="btn btn-primary waves-effect w-md waves-light m-b-5">گزارش </button>
                        <button onclick="ExportToExcel()" type="button" style="padding:4px 0 2px 0px" class="btn btn-primary waves-effect w-md waves-light m-b-5 export">خروجی excel</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col-->
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <div class="row" id="SendSMS_List">

            </div>

        </div>

    </div><!-- end col -->
</div>


@section Scripts
{
    <script src="~/MyScript/SendSMS/SendSMS.js"></script>
}